:root {
  --text-color: #4A556C;
  --highlight-text: #333461;
  --btn-color: #20AD96;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
}

input, button {
  height: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 8px;
}
button {
  background-color: var(--btn-color);
  color: #FFF;
}


.section {
  display: flex;
  padding: 40px 8%;
}
.section2 {
  padding: 40px 8%;
}
.section.colored {
  background-color: #FAF8F6;
}

.title {
  color: var(--highlight-text);
}

.button-bg {
  background-color: #20AD96;
}

.bg-color {
  background-color: #FAF8F6;
}

.containerr {
  padding: 40px 8%;
}

.div {
  padding: 15px 8%;
}

.cont {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.nav-container {
  padding-left: 5%;
  padding-right: 5%;
  /* padding-top: 0px;
  padding-bottom: 0px; */
}

.hero-container {
  height: 620px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 60px;
  padding-bottom: 0px;
}


.free-guide-tag::after {
  content: "Free Guide";
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 100%;
  text-align: center;
  color: #FFF;
  background-color: green;
  border-radius: 100%;
}